@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&display=swap');

.lora--quote {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
}

body {
  font-family: "Josefin Sans", sans-serif;
  color: white;
  background-color: #0F2D40;
  font-size: 17px;
  text-align: center;
  margin: 0;
}

header {
  position: sticky;
  top: 0;
  height: 90px;
  display: flex;
  background-color: #0F2D40;
  z-index: 3;
}

.main > * {
  margin: 15px 5%;
}

.main > p {
  line-height: 30px;
  text-align: justify;
}

.main > hr {
  margin: 0;
}

.main > footer {
  width: 100%;
  position: absolute;
  margin: 0;
  font-size: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  height: 60px;
  padding: 20px 0;
}

h1 {
  color: #3E8C84;
  font-family: "Hammersmith One";
  font-size: 25px;
}

hr {
  margin: 0;
  border: 1px solid #194759;
}

#question-center {
  text-align: center;
}

#title {
  left: 10px;
  top: 50%;
  margin-top: -32px;
  position: relative;
  animation: titlemove 1s;
  width: 64px;
  height: 64px;
}

#logo {
  height: 64px;
  width: 64px;
}

@keyframes titlemove {
  from {
    left: 0px;
  }

  to {
    left: 10px;
  }
}

#drop-slct div {
  display: inline-block;
}

.dropbtn {
  font-family: "Josefin Sans", sans-serif;
  padding: 12px 0;
  margin: auto;
  width: 200px;
  color: white;
  font-size: 17px;
  background-color: #0F2D40;
  position: relative;
  border: none;
  cursor: pointer;
}

.dropbtn::before {
  background-image: linear-gradient(to right, #194759 0%, #3E8C84 100%);
  content: "";
  width: 100%;
  height: 100%;
  padding: 4px;
  top: -4px;
  left: -4px;
  position: absolute;
  z-index: -1;
}

#seta-baixo {
  transition: transform 0.5s ease;
}

#btn-con {
  transition: opacity 0.3s ease;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 230ms ease-in-out, transform 150ms ease-in-out, visibility 0ms 250ms;
  position: absolute;
  width: 200px;
}

.dropdown-content::before {
  background-image: linear-gradient(to right, #194759 0%, #3E8C84 100%);
  content: "";
  height: calc(100% - 4px);
  width: 100%;
  padding: 4px;
  top: 0;
  left: -4px;
  position: absolute;
  z-index: -1;
}

.dropdown-content a {
  font-family: "Josefin Sans", sans-serif;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #0F2D40;
  cursor: pointer;
}

.dropdown-content a:hover {
  transition-duration: .25s;
  background-color: #194759;
}

#quotation {
  border-image: linear-gradient(to bottom, #194759 0%, #3E8C84 100%) 1;
  border-width: 4px;
  border-style: solid;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
  margin-top: 5%;
  font-family: "Lora";
  font-size: 20px;
  text-align: justify;
  margin-bottom: 15%;
  padding: 0 20px;
}

footer a {
  color: #D8F2F0;
  text-decoration-color: #B9D4D0;
}

footer a:visited {
  color: #D8F2F0;
}