@font-face {
    font-family: "Dutch 801 Italic";
    src: url("dutch-801-italic.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: "Josefin Sans", sans-serif;
  color: black;
  background-color: white;
  font-size: 17px;
  text-align: center;
  margin: 0;
}

.sidenav {
  white-space: nowrap;
  overflow: auto;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 90px;
  background-color: #006D77;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.main {
  position: relative;
  top: 50px;
}

.sidenav a {
  padding: 14px;
  text-decoration: none;
  color: white;
  display: inline-block;
}

.sidenav a:hover {
  transition-duration: .25s;
  background-color: #83C5BE;
  color: black;
}

#header {
  position: sticky;
  top: 0;
  height: 90px;
  display: flex;
  background-color: #006D77;
  box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.2);
  z-index: 3;
}

#kashikoi a {
  vertical-align: middle;
  line-height: 45px;
  font-size: 35px;
  color: white;
  font-family: "Paytone One", sans-serif;
  font-style: normal;
  text-decoration: none;
}

.hamburger-menu {
  position: relative;
  z-index: 4;
}

#menu-toggle {
  opacity: 0;
}

#menu-toggle:checked+.menu-btn>span {
  transform: rotate(45deg);
  background-color: #006D77;
}

#menu-toggle:checked+.menu-btn>span::after {
  top: 0;
  transform: rotate(0deg);
  background-color: #006D77;
}

#menu-toggle:checked+.menu-btn>span::before {
  top: 0;
  transform: rotate(90deg);
  background-color: #006D77;
}

#menu-toggle:checked~.menu-box {
  right: 0 !important;
}

#box-fx,
#box-a, 
#box-b {
  height: 30px;
  width: 30px;
  border: 2px solid #006D77;
}

#function {
  position: relative;
}

#function-btn {
  top: 20px;
  position: relative;
  font-family: "Josefin Sans", sans-serif;
  border: 2px solid #006D77;
  background-color: white;
  color: #006D77;
  font-size: 15px;
  padding: 10px;
  cursor: pointer;
}
 
#function-btn:active {
  background-color: #006D77;
  color: white;
}

#graphics {
  top: 40px;
  position: relative;
  margin: 0 auto;
}

#resolution {
  font-family: "Dutch 801 Italic";
}

input,
input::placeholder {
  text-align: center;
  font-family: "Dutch 801 Italic";
  font-size: 17px;
}

.menu-btn {
  position: fixed;
  top: 43px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 4;
}

.menu-btn>span,
.menu-btn>span::before,
.menu-btn>span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  transition-duration: .25s;
}

.menu-btn>span::before {
  content: '';
  top: -8px;
}

.menu-btn>span::after {
  content: '';
  top: 8px;
}

.menu-box {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #EDF6F9;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  transition-duration: .25s;
  z-index: 3;
}

.menu-item {
  display: block;
  padding: 12px 24px;
  color: black;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}

.menu-item:hover {
  background-color: #83C5BE;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition-duration: .25s;
  cursor: pointer;
  z-index: 3;
}

#title {
  left: 30px;
  position: relative;
  animation: titlemove 1s;
}

@keyframes titlemove {
  from {
    left: 0px;
  }

  to {
    left: 30px;
  }
}

p {
  padding: 20px;
}