@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&display=swap');

.lora--quote {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
}

body {
  font-family: "Josefin Sans", sans-serif;
  color: black;
  background-color: white;
  font-size: 17px;
  text-align: center;
  margin: 0;
}

header {
  position: sticky;
  top: 0;
  height: 90px;
  display: flex;
  background-color: #006D77;
  z-index: 3;
}

#kashikoi a {
  vertical-align: middle;
  line-height: 45px; 
  font-size: 35px;
  color: white;
  font-family: "Paytone One", sans-serif;
  font-style: normal;
  text-decoration: none;
}

.main > * {
  margin: 15px 5%;
}

.main > p {
  text-align: justify;
}

.main > footer {
  width: 100%;
  position: absolute;
  margin: 15px 0;
  font-size: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  height: 60px;
  background-color: #006D77;
  padding: 20px 0;
}

h1 {
  color: #006D77;
  font-family: "Paytone One";
  font-size: 23px;
}

#question-center {
  text-align: center;
}

.hamburger-menu {
  position: relative;
  z-index: 4;
}

#menu-toggle {
  opacity: 0;
}

#menu-toggle:checked + .menu-btn > span {
  transform: rotate(45deg);
  background-color: #006D77;
}

#menu-toggle:checked + .menu-btn > span::after {
  top: 0;
  transform: rotate(0deg);
  background-color: #006D77;
}

#menu-toggle:checked + .menu-btn > span::before {
  top: 0;
  transform: rotate(90deg);
  background-color: #006D77;
}

#menu-toggle:checked ~ .menu-box {
  right: 0 !important;
}

.menu-btn {
  position: fixed;
  top: 43px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 4;
}

.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  transition-duration: .25s;
}

.menu-btn > span::before {
  content: '';
  top: -8px;
}

.menu-btn > span::after {
  content: '';
  top: 8px;
}

.menu-box {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #EDF6F9;
  transition-duration: .25s;
  z-index: 3;
}

.menu-item {
  display: block;
  padding: 12px 24px;
  color: black;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}

.menu-item:hover {
  background-color: #83C5BE;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition-duration: .25s;
  cursor: pointer;
  z-index: 3;
}

#title {
  left: 10px;
  position: relative;
  animation: titlemove 1s;
  display: flex;
  align-items: center;
}

#logo {
  height: 62.5px;
  width: 250px;
}

@keyframes titlemove {
  from {
    left: 0px;
  }

  to {
    left: 10px;
  }
}

.dropbtn {
  font-family: "Josefin Sans", sans-serif;
  padding: 12px 16px;
  margin: auto;
  width: 300px;
  color: #006D77;
  border: 2px solid #006D77;
  font-size: 17px;
  cursor: pointer;
  background-color: white;
  position: relative;
  z-index: 2;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 230ms ease-in-out, transform 150ms ease-in-out;
  position: absolute;
  background-color: #006D77;
  min-width: 300px;
  z-index: 1;
}

.dropdown-content a {
  font-family: "Josefin Sans", sans-serif;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  transition-duration: .25s;
  background-color: #83C5BE;
  color: black;
}

.dropdown:hover .dropdown-content {
  transform: translateY(0px);
  opacity: 1;
}

.dropdown:hover .dropbtn {
  color: white;
  background-color: #006D77;
}

/* Vou colocar uma animação maneira */

#quotation {
  margin-top: 30px;
  font-family: "Lora";
  font-size: 20px;
  text-align: justify;
  padding-bottom: 15%;
}

footer a {
  color: #EDF6F9;
  text-decoration-color: #83C5BE;
}

footer a:visited {
  color: #EDF6F9;
}
