@font-face {
    font-family: "KaTeX";
    src: url("KaTeX_Math-Regular.ttf");
}

@font-face {
    font-family: "KaTeX Numbers";
    src: url("KaTeX_Main-Regular.ttf");
}

body {
  font-family: "Josefin Sans", sans-serif;
  color: black;
  background-color: white;
  font-size: 17px;
  text-align: center;
  margin: 0;
}

.sidenav {
  white-space: nowrap;
  overflow: auto;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 90px;
  background-color: #006D77;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.sidenav a {
  padding: 14px;
  text-decoration: none;
  color: white;
  display: inline-block;
}

.sidenav a:hover {
  transition-duration: .25s;
  background-color: #83C5BE;
  color: black;
}

.main {
  position: relative;
  top: 25px;
}

.main > * {
  margin: 15px;
}

.main > footer {
  position: absolute;
  width: 100%;
  margin: 15px 0;
  font-size: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  height: 60px;
  background-color: #006D77;
  padding: 20px 0;
}

h1 {
  color: #006D77;
  font-family: "Paytone One";
  font-size: 23px;
}

header {
  position: sticky;
  top: 0;
  height: 90px;
  display: flex;
  background-color: #006D77;
  z-index: 3;
}

.hamburger-menu {
  position: relative;
  z-index: 4;
}

#menu-toggle {
  opacity: 0;
}

#menu-toggle:checked + .menu-btn > span {
  transform: rotate(45deg);
  background-color: #006D77;
}

#menu-toggle:checked + .menu-btn > span::after {
  top: 0;
  transform: rotate(0deg);
  background-color: #006D77;
}

#menu-toggle:checked + .menu-btn > span::before {
  top: 0;
  transform: rotate(90deg);
  background-color: #006D77;
}

#menu-toggle:checked ~ .menu-box {
  right: 0 !important;
}

#box-fx,
#box-a, 
#box-b {
  height: 30px;
  width: 30px;
  border: 2px solid #006D77;
}

#function {
  position: relative;
}

#function-btn {
  position: relative;
  font-family: "Josefin Sans", sans-serif;
  border: 2px solid #006D77;
  background-color: white;
  color: #006D77;
  font-size: 15px;
  padding: 10px;
  cursor: pointer;
}
 
#function-btn:active {
  background-color: #006D77;
  color: white;
}

#graphics {
  position: relative;
  margin: 15px auto 15px auto;
}

input {
  text-align: center;
  font-family: "KaTeX Numbers";
  font-size: 17px;
}

input::placeholder {
  text-align: center;
  font-family: "KaTeX";
  font-size: 17px;
}

.menu-btn {
  position: fixed;
  top: 43px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 4;
}

.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  transition-duration: .25s;
}

.menu-btn > span::before {
  content: '';
  top: -8px;
}

.menu-btn > span::after {
  content: '';
  top: 8px;
}

.menu-box {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #EDF6F9;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  transition-duration: .25s;
  z-index: 3;
}

.menu-item {
  display: block;
  padding: 12px 24px;
  color: black;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}

.menu-item:hover {
  background-color: #83C5BE;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition-duration: .25s;
  cursor: pointer;
  z-index: 3;
}

#title {
  left: 10px;
  position: relative;
  animation: titlemove 1s;
  display: flex;
  align-items: center;
}

#logo {
  height: 62.5px;
  width: 250px;
}

@keyframes titlemove {
  from {
    left: 0px;
  }

  to {
    left: 10px;
  }
}

/* Vou tentar colocar :hover mais tarde */

#sec-part a,
#sec-part:visited {
  font-size: 13px;
  color: black;
  text-decoration-color: #83C5BE;
}

#sec-part a::after {
  padding-left: 5px;
  content: image-set("/images/arrow-up-right-from-square.png" 7x);
}

footer a {
  color: #EDF6F9;
  text-decoration-color: #83C5BE;
}

footer a:visited {
  color: #EDF6F9;
}