@font-face {
    font-family: "KaTeX";
    src: url("KaTeX_Math-Regular.ttf");
}

@font-face {
    font-family: "KaTeX Numbers";
    src: url("KaTeX_Main-Regular.ttf");
}

body {
  font-family: "Josefin Sans", sans-serif;
  color: black;
  background-color: #0F2D40;
  color: white;
  font-size: 17px;
  text-align: center;
  margin: 0;
}

.sidenav {
  border-top: 1.5px solid #194759;
  border-bottom: 1.5px solid #194759;
  white-space: nowrap;
  overflow: auto;
  width: 100%;
  position: fixed;
  top: 90px;
  z-index: 1;
  background-color: #0F2D40;
  cursor: pointer;
}

.sidenav a {
  padding: 10px 14px;
  text-decoration: none;
  color: white;
  display: inline-block;
}

.sidenav a:hover {
  transition-duration: .25s;
  background-color: #296B73;
  color: white;
}

.main {
  position: relative;
  top: 40px;
}

.main > * {
  margin: 15px 5%;
}

.main > p {
  line-height: 30px;
}

.main > footer {
  position: absolute;
  width: 100%;
  margin: 0;
  font-size: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  height: 60px;
  padding: 20px 0;
}

.main > hr {
  margin: 0;
}

h1 {
  color: #296B73;
  font-family: "Hammersmith One";
  font-size: 20px;
}

header {
  position: sticky;
  top: 0;
  height: 90px;
  display: flex;
  background-color: #0F2D40;
  z-index: 3;
}

hr {
  margin: 0;
  border: 1px solid #194759;
}

.box {
  height: 30px;
  width: 30px;
  border-image: linear-gradient(to right, #194759 0%, #3E8C84 100%) 1;
  border-width: 2px;
  border-style: solid;
  background-color: #0F2D40;
  color: white;
}

.box::placeholder {
  color: white;
}

.box:focus {
  outline: none;
}

:focus::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

#function {
  position: relative;
}

#function-btn {
  position: relative;
  font-family: "Josefin Sans", sans-serif;
  font-size: 15px;
  padding: 10px;
  cursor: pointer;
  border-image: linear-gradient(to right, #194759 0%, #3E8C84 100%) 1;
  border-width: 2px;
  border-style: solid;
  background-color: #0F2D40;
  color: white;
}
 
#function-btn:active {
  background-color: #194759;
}

#graphics {
  position: relative;
  margin: 15px auto 15px auto;
}

div.plotly-notifier {
  visibility: hidden;
}

input {
  text-align: center;
  font-family: "KaTeX Numbers";
  font-size: 17px;
}

input::placeholder {
  text-align: center;
  font-family: "KaTeX";
  font-size: 17px;
}

#title {
  left: 10px;
  top: 50%;
  margin-top: -32px;
  position: relative;
  animation: titlemove 1s;
  width: 64px;
  height: 64px;
}

#logo {
  height: 64px;
  width: 64px;
}

@keyframes titlemove {
  from {
    left: 0px;
  }

  to {
    left: 10px;
  }
}

/* Vou tentar colocar :hover mais tarde */

#sec-part a,
#sec-part:visited {
  font-size: 13px;
  color: #D8F2F0;
  text-decoration-color: #B9D4D0;
}

footer a {
  color: #D8F2F0;
  text-decoration-color: #B9D4D0;
}

footer a:visited {
  color: #D8F2F0;
}